.container{
    margin: 100px;
    display:block;
    background-color: rgb(147, 148, 145);
    /* align-items: center; */
    text-align: center;
    flex-wrap: wrap;
    font-size: 200px;
    padding: 10%;
}
.box{
    display:inline-block;;
    background-color: blanchedalmond;
}
.buttons{
    
    padding: 20px;
    /* background-color: aqua; */
    display: inline-block;
    text-align: center;
}
.buttons button{
    width: 100px;
    height: 40px;
    size: 40px;
    
}
